--
-- PostgreSQL database dump
--

\restrict djVDL9TonyslUhOZs080ReNMXRh72C8DuyuA6FJDI8x8HUtN1Ik61HZqBS89Ahc

-- Dumped from database version 15.16
-- Dumped by pg_dump version 15.16

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: DeviceStatus; Type: TYPE; Schema: public; Owner: signage_dev
--

CREATE TYPE public."DeviceStatus" AS ENUM (
    'ONLINE',
    'OFFLINE',
    'ERROR'
);


ALTER TYPE public."DeviceStatus" OWNER TO signage_dev;

--
-- Name: MediaStatus; Type: TYPE; Schema: public; Owner: signage_dev
--

CREATE TYPE public."MediaStatus" AS ENUM (
    'PROCESSING',
    'READY',
    'ERROR'
);


ALTER TYPE public."MediaStatus" OWNER TO signage_dev;

--
-- Name: MediaType; Type: TYPE; Schema: public; Owner: signage_dev
--

CREATE TYPE public."MediaType" AS ENUM (
    'VIDEO',
    'IMAGE',
    'HTML',
    'URL',
    'GIF'
);


ALTER TYPE public."MediaType" OWNER TO signage_dev;

--
-- Name: ScheduleTarget; Type: TYPE; Schema: public; Owner: signage_dev
--

CREATE TYPE public."ScheduleTarget" AS ENUM (
    'ALL',
    'DEVICE',
    'GROUP'
);


ALTER TYPE public."ScheduleTarget" OWNER TO signage_dev;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: signage_dev
--

CREATE TYPE public."UserRole" AS ENUM (
    'SUPER_ADMIN',
    'ADMIN',
    'MANAGER',
    'VIEWER',
    'CONTENT_MANAGER',
    'SITE_MANAGER'
);


ALTER TYPE public."UserRole" OWNER TO signage_dev;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: signage_dev
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE',
    'SUSPENDED'
);


ALTER TYPE public."UserStatus" OWNER TO signage_dev;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: action_logs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.action_logs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "userId" text,
    "userEmail" text,
    action text NOT NULL,
    "resourceType" text NOT NULL,
    "resourceId" text,
    "resourceName" text,
    detail jsonb,
    "occurredAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.action_logs OWNER TO signage_dev;

--
-- Name: alarm_emails; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.alarm_emails (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    email text NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.alarm_emails OWNER TO signage_dev;

--
-- Name: app_versions; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.app_versions (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text,
    "versionName" text NOT NULL,
    "versionCode" integer DEFAULT 0 NOT NULL,
    "downloadUrl" text NOT NULL,
    "releaseNotes" text,
    "isLatest" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_versions OWNER TO signage_dev;

--
-- Name: backup_plan_requests; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.backup_plan_requests (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "requestedPlan" integer NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    note text,
    "adminNote" text,
    "requestedById" text,
    "requestedByName" text,
    "resolvedById" text,
    "resolvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.backup_plan_requests OWNER TO signage_dev;

--
-- Name: device_comments; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_comments (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "organizationId" text NOT NULL,
    "userId" text,
    "userName" text,
    comment text NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.device_comments OWNER TO signage_dev;

--
-- Name: device_content_logs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_content_logs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "organizationId" text NOT NULL,
    "playlistId" text,
    "playlistName" text,
    "scheduleName" text,
    "syncedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.device_content_logs OWNER TO signage_dev;

--
-- Name: device_group_members; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_group_members (
    "deviceId" text NOT NULL,
    "groupId" text NOT NULL
);


ALTER TABLE public.device_group_members OWNER TO signage_dev;

--
-- Name: device_groups; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_groups (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.device_groups OWNER TO signage_dev;

--
-- Name: device_health; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_health (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "cpuUsage" double precision,
    "memoryUsage" double precision,
    "storageTotal" bigint,
    "storageUsed" bigint,
    "networkType" text,
    "isOnline" boolean DEFAULT true NOT NULL,
    "reportedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "ipAddress" text,
    "macAddress" text,
    "heapMemory" bigint,
    "networkConnected" boolean,
    "processCpuPercent" double precision,
    "wanIp" text,
    subnet text,
    "ipProtocol" text
);


ALTER TABLE public.device_health OWNER TO signage_dev;

--
-- Name: device_licenses; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_licenses (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "organizationId" text NOT NULL,
    "packageType" text NOT NULL,
    "activatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "expiresAt" timestamp with time zone NOT NULL,
    "activatedById" text,
    "activatedByName" text,
    "transferredFromDeviceId" text
);


ALTER TABLE public.device_licenses OWNER TO signage_dev;

--
-- Name: device_status_events; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_status_events (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "organizationId" text NOT NULL,
    event text NOT NULL,
    reason text DEFAULT 'NETWORK'::text NOT NULL,
    "occurredAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.device_status_events OWNER TO signage_dev;

--
-- Name: device_version_logs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.device_version_logs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "organizationId" text NOT NULL,
    "fromVersion" text,
    "toVersion" text NOT NULL,
    method text DEFAULT 'HEARTBEAT'::text NOT NULL,
    "triggeredBy" text,
    "occurredAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.device_version_logs OWNER TO signage_dev;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.devices (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    location text,
    timezone text DEFAULT 'Asia/Ho_Chi_Minh'::text NOT NULL,
    "pairingCode" text,
    "androidId" text,
    model text,
    "osVersion" text,
    "appVersion" text,
    status public."DeviceStatus" DEFAULT 'OFFLINE'::public."DeviceStatus" NOT NULL,
    "lastSeen" timestamp(3) without time zone,
    settings jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isLicensed" boolean DEFAULT false NOT NULL,
    "lastOfflineAt" timestamp with time zone,
    "syncGroupId" text,
    "storeId" text,
    "licenseStartDate" date,
    "licenseEndDate" date,
    "lastOnlineAt" timestamp with time zone,
    role text DEFAULT 'STANDALONE'::text NOT NULL,
    "downloadStatus" text DEFAULT 'PENDING'::text NOT NULL,
    "contentReady" boolean DEFAULT false NOT NULL,
    "licenseExpiresAt" timestamp with time zone,
    "deletedAt" timestamp with time zone,
    CONSTRAINT "devices_downloadStatus_check" CHECK (("downloadStatus" = ANY (ARRAY['PENDING'::text, 'DOWNLOADING'::text, 'READY'::text, 'ERROR'::text]))),
    CONSTRAINT devices_role_check CHECK ((role = ANY (ARRAY['MASTER'::text, 'SLAVE'::text, 'STANDALONE'::text])))
);


ALTER TABLE public.devices OWNER TO signage_dev;

--
-- Name: license_history; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.license_history (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text,
    "deviceName" text,
    "organizationId" text NOT NULL,
    action text NOT NULL,
    detail jsonb,
    "performedById" text,
    "performedByName" text,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.license_history OWNER TO signage_dev;

--
-- Name: mail_configs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.mail_configs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    name text NOT NULL,
    host text NOT NULL,
    port integer DEFAULT 587 NOT NULL,
    secure boolean DEFAULT false NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    "fromName" text NOT NULL,
    "fromAddress" text NOT NULL,
    "isActive" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.mail_configs OWNER TO signage_dev;

--
-- Name: mail_settings; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.mail_settings (
    id text NOT NULL,
    "eventType" text NOT NULL,
    "templateId" text,
    "mailConfigId" text,
    "isEnabled" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "triggerDelayMin" integer DEFAULT 5 NOT NULL,
    "cooldownHours" integer DEFAULT 4 NOT NULL,
    "advanceDays" integer DEFAULT 30 NOT NULL
);


ALTER TABLE public.mail_settings OWNER TO signage_dev;

--
-- Name: mail_templates; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.mail_templates (
    id text NOT NULL,
    name text NOT NULL,
    subject text NOT NULL,
    "bodyHtml" text NOT NULL,
    description text,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.mail_templates OWNER TO signage_dev;

--
-- Name: media; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.media (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "uploadedById" text NOT NULL,
    title text NOT NULL,
    description text,
    type public."MediaType" NOT NULL,
    "filePath" text NOT NULL,
    "fileSize" bigint NOT NULL,
    "mimeType" text NOT NULL,
    "fileHash" text NOT NULL,
    duration integer,
    width integer,
    height integer,
    "thumbnailPath" text,
    tags text[] DEFAULT '{}'::text[] NOT NULL,
    metadata jsonb,
    status public."MediaStatus" DEFAULT 'PROCESSING'::public."MediaStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.media OWNER TO signage_dev;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.notifications (
    id text NOT NULL,
    "organizationId" text NOT NULL,
    type text NOT NULL,
    title text NOT NULL,
    body text,
    "entityId" text,
    "entityType" text,
    read boolean DEFAULT false NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO signage_dev;

--
-- Name: org_backups; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.org_backups (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    label text NOT NULL,
    type text DEFAULT 'MANUAL'::text NOT NULL,
    snapshot jsonb NOT NULL,
    "createdBy" text,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.org_backups OWNER TO signage_dev;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.organizations (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    settings jsonb,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "deviceAdminPin" text DEFAULT '0000'::text NOT NULL,
    "maxDevices" integer DEFAULT 10 NOT NULL,
    "maxUsers" integer DEFAULT 5 NOT NULL,
    "storageQuotaBytes" bigint DEFAULT '10737418240'::bigint NOT NULL,
    pkg12m integer DEFAULT 0 NOT NULL,
    pkg24m integer DEFAULT 0 NOT NULL,
    pkg36m integer DEFAULT 0 NOT NULL,
    "storageBaseMb" integer DEFAULT 100 NOT NULL,
    ext50mb integer DEFAULT 0 NOT NULL,
    ext100mb integer DEFAULT 0 NOT NULL,
    ext200mb integer DEFAULT 0 NOT NULL,
    "isSystem" boolean DEFAULT false NOT NULL,
    "backupPlan" integer
);


ALTER TABLE public.organizations OWNER TO signage_dev;

--
-- Name: platform_admins; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.platform_admins (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    name text DEFAULT ''::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "lastLoginAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "isRoot" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.platform_admins OWNER TO signage_dev;

--
-- Name: playback_logs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.playback_logs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "mediaId" text NOT NULL,
    "playedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "durationPlayed" integer NOT NULL,
    completed boolean DEFAULT false NOT NULL
);


ALTER TABLE public.playback_logs OWNER TO signage_dev;

--
-- Name: playlist_items; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.playlist_items (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "playlistId" text NOT NULL,
    "mediaId" text NOT NULL,
    "position" integer NOT NULL,
    "durationOverride" integer,
    transition text,
    "transitionDuration" integer
);


ALTER TABLE public.playlist_items OWNER TO signage_dev;

--
-- Name: playlist_play_logs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.playlist_play_logs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "deviceId" text NOT NULL,
    "playlistId" text NOT NULL,
    "startedAt" timestamp with time zone NOT NULL,
    "completedAt" timestamp with time zone,
    completed boolean DEFAULT false NOT NULL,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.playlist_play_logs OWNER TO signage_dev;

--
-- Name: playlists; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.playlists (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    description text,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isAutoGenerated" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.playlists OWNER TO signage_dev;

--
-- Name: program_assignments; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.program_assignments (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "programId" text NOT NULL,
    "targetType" text NOT NULL,
    "targetId" text NOT NULL,
    "assignedById" text,
    "assignedAt" timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT "program_assignments_targetType_check" CHECK (("targetType" = ANY (ARRAY['STORE'::text, 'DEVICE'::text])))
);


ALTER TABLE public.program_assignments OWNER TO signage_dev;

--
-- Name: program_schedules; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.program_schedules (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "programId" text NOT NULL,
    "scheduleId" text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.program_schedules OWNER TO signage_dev;

--
-- Name: programs; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.programs (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "isAutoCreated" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.programs OWNER TO signage_dev;

--
-- Name: purchase_requests; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.purchase_requests (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "requestedById" text,
    "requestedByName" text,
    "packageType" text NOT NULL,
    quantity integer NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    note text,
    "adminNote" text,
    "resolvedById" text,
    "resolvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.purchase_requests OWNER TO signage_dev;

--
-- Name: schedule_assignments; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.schedule_assignments (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "scheduleId" text NOT NULL,
    "targetType" text NOT NULL,
    "targetId" text NOT NULL,
    "assignedById" text,
    "assignedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    CONSTRAINT "schedule_assignments_targetType_check" CHECK (("targetType" = ANY (ARRAY['DEVICE'::text, 'SITE'::text])))
);


ALTER TABLE public.schedule_assignments OWNER TO signage_dev;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.schedules (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    "playlistId" text NOT NULL,
    "targetType" public."ScheduleTarget" NOT NULL,
    "targetDeviceId" text,
    "targetGroupId" text,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    "startTime" text,
    "endTime" text,
    "daysOfWeek" integer[] DEFAULT '{}'::integer[] NOT NULL,
    priority integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.schedules OWNER TO signage_dev;

--
-- Name: storage_history; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.storage_history (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    action text NOT NULL,
    "performedById" text,
    "performedByName" text,
    detail jsonb,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.storage_history OWNER TO signage_dev;

--
-- Name: storage_purchase_requests; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.storage_purchase_requests (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "packageMb" integer NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    status text DEFAULT 'PENDING'::text NOT NULL,
    note text,
    "adminNote" text,
    "requestedById" text,
    "requestedByName" text,
    "resolvedById" text,
    "resolvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.storage_purchase_requests OWNER TO signage_dev;

--
-- Name: stores; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.stores (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    description text,
    address text,
    contact text,
    "deployDate" timestamp with time zone,
    "endDate" timestamp with time zone,
    "playlistId" text,
    "startEpoch" bigint,
    "totalDurationMs" integer,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL,
    "timeOff" text,
    "timeOn" text,
    timezone text,
    "alarmToleranceMin" integer DEFAULT 60 NOT NULL,
    opendate timestamp with time zone,
    closedate timestamp with time zone
);


ALTER TABLE public.stores OWNER TO signage_dev;

--
-- Name: sync_groups; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.sync_groups (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    name text NOT NULL,
    description text,
    "playlistId" text,
    "startEpoch" bigint,
    "totalDurationMs" integer,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sync_groups OWNER TO signage_dev;

--
-- Name: transfer_requests; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.transfer_requests (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    "fromDeviceId" text NOT NULL,
    "fromDeviceName" text NOT NULL,
    "toDeviceId" text NOT NULL,
    "toDeviceName" text NOT NULL,
    "requestedById" text,
    "requestedByName" text,
    status text DEFAULT 'PENDING'::text NOT NULL,
    note text,
    "adminNote" text,
    "resolvedById" text,
    "resolvedAt" timestamp with time zone,
    "createdAt" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.transfer_requests OWNER TO signage_dev;

--
-- Name: users; Type: TABLE; Schema: public; Owner: signage_dev
--

CREATE TABLE public.users (
    id text DEFAULT (gen_random_uuid())::text NOT NULL,
    "organizationId" text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."UserRole" DEFAULT 'MANAGER'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isRoot" boolean DEFAULT false NOT NULL,
    "siteId" text
);


ALTER TABLE public.users OWNER TO signage_dev;

--
-- Name: action_logs action_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.action_logs
    ADD CONSTRAINT action_logs_pkey PRIMARY KEY (id);


--
-- Name: alarm_emails alarm_emails_organizationId_email_key; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.alarm_emails
    ADD CONSTRAINT "alarm_emails_organizationId_email_key" UNIQUE ("organizationId", email);


--
-- Name: alarm_emails alarm_emails_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.alarm_emails
    ADD CONSTRAINT alarm_emails_pkey PRIMARY KEY (id);


--
-- Name: app_versions app_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.app_versions
    ADD CONSTRAINT app_versions_pkey PRIMARY KEY (id);


--
-- Name: backup_plan_requests backup_plan_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.backup_plan_requests
    ADD CONSTRAINT backup_plan_requests_pkey PRIMARY KEY (id);


--
-- Name: device_comments device_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_comments
    ADD CONSTRAINT device_comments_pkey PRIMARY KEY (id);


--
-- Name: device_content_logs device_content_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_content_logs
    ADD CONSTRAINT device_content_logs_pkey PRIMARY KEY (id);


--
-- Name: device_group_members device_group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_group_members
    ADD CONSTRAINT device_group_members_pkey PRIMARY KEY ("deviceId", "groupId");


--
-- Name: device_groups device_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_groups
    ADD CONSTRAINT device_groups_pkey PRIMARY KEY (id);


--
-- Name: device_health device_health_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_health
    ADD CONSTRAINT device_health_pkey PRIMARY KEY (id);


--
-- Name: device_licenses device_licenses_deviceId_key; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_licenses
    ADD CONSTRAINT "device_licenses_deviceId_key" UNIQUE ("deviceId");


--
-- Name: device_licenses device_licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_licenses
    ADD CONSTRAINT device_licenses_pkey PRIMARY KEY (id);


--
-- Name: device_status_events device_status_events_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_status_events
    ADD CONSTRAINT device_status_events_pkey PRIMARY KEY (id);


--
-- Name: device_version_logs device_version_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_version_logs
    ADD CONSTRAINT device_version_logs_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: license_history license_history_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.license_history
    ADD CONSTRAINT license_history_pkey PRIMARY KEY (id);


--
-- Name: mail_configs mail_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.mail_configs
    ADD CONSTRAINT mail_configs_pkey PRIMARY KEY (id);


--
-- Name: mail_settings mail_settings_eventType_key; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT "mail_settings_eventType_key" UNIQUE ("eventType");


--
-- Name: mail_settings mail_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT mail_settings_pkey PRIMARY KEY (id);


--
-- Name: mail_templates mail_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.mail_templates
    ADD CONSTRAINT mail_templates_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: org_backups org_backups_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.org_backups
    ADD CONSTRAINT org_backups_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: platform_admins platform_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.platform_admins
    ADD CONSTRAINT platform_admins_pkey PRIMARY KEY (id);


--
-- Name: playback_logs playback_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playback_logs
    ADD CONSTRAINT playback_logs_pkey PRIMARY KEY (id);


--
-- Name: playlist_items playlist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playlist_items
    ADD CONSTRAINT playlist_items_pkey PRIMARY KEY (id);


--
-- Name: playlist_play_logs playlist_play_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playlist_play_logs
    ADD CONSTRAINT playlist_play_logs_pkey PRIMARY KEY (id);


--
-- Name: playlists playlists_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT playlists_pkey PRIMARY KEY (id);


--
-- Name: program_assignments program_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_assignments
    ADD CONSTRAINT program_assignments_pkey PRIMARY KEY (id);


--
-- Name: program_assignments program_assignments_target_unique; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_assignments
    ADD CONSTRAINT program_assignments_target_unique UNIQUE ("targetType", "targetId");


--
-- Name: program_schedules program_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_schedules
    ADD CONSTRAINT program_schedules_pkey PRIMARY KEY (id);


--
-- Name: program_schedules program_schedules_program_schedule_unique; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_schedules
    ADD CONSTRAINT program_schedules_program_schedule_unique UNIQUE ("programId", "scheduleId");


--
-- Name: programs programs_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT programs_pkey PRIMARY KEY (id);


--
-- Name: purchase_requests purchase_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.purchase_requests
    ADD CONSTRAINT purchase_requests_pkey PRIMARY KEY (id);


--
-- Name: schedule_assignments schedule_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedule_assignments
    ADD CONSTRAINT schedule_assignments_pkey PRIMARY KEY (id);


--
-- Name: schedule_assignments schedule_assignments_unique; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedule_assignments
    ADD CONSTRAINT schedule_assignments_unique UNIQUE ("scheduleId", "targetType", "targetId");


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: storage_history storage_history_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.storage_history
    ADD CONSTRAINT storage_history_pkey PRIMARY KEY (id);


--
-- Name: storage_purchase_requests storage_purchase_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.storage_purchase_requests
    ADD CONSTRAINT storage_purchase_requests_pkey PRIMARY KEY (id);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: sync_groups sync_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.sync_groups
    ADD CONSTRAINT sync_groups_pkey PRIMARY KEY (id);


--
-- Name: transfer_requests transfer_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT transfer_requests_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ae_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "ae_orgId_idx" ON public.alarm_emails USING btree ("organizationId");


--
-- Name: al_orgId_occurredAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "al_orgId_occurredAt_idx" ON public.action_logs USING btree ("organizationId", "occurredAt" DESC);


--
-- Name: al_resourceType_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "al_resourceType_idx" ON public.action_logs USING btree ("resourceType");


--
-- Name: al_userId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "al_userId_idx" ON public.action_logs USING btree ("userId");


--
-- Name: av_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "av_orgId_idx" ON public.app_versions USING btree ("organizationId");


--
-- Name: bpr_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "bpr_orgId_idx" ON public.backup_plan_requests USING btree ("organizationId");


--
-- Name: bpr_status_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX bpr_status_idx ON public.backup_plan_requests USING btree (status);


--
-- Name: dc_deviceId_createdAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dc_deviceId_createdAt_idx" ON public.device_comments USING btree ("deviceId", "createdAt" DESC);


--
-- Name: dcl_deviceId_syncedAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dcl_deviceId_syncedAt_idx" ON public.device_content_logs USING btree ("deviceId", "syncedAt" DESC);


--
-- Name: dev_storeId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dev_storeId_idx" ON public.devices USING btree ("storeId");


--
-- Name: dev_syncGroupId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dev_syncGroupId_idx" ON public.devices USING btree ("syncGroupId");


--
-- Name: device_groups_organizationId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "device_groups_organizationId_idx" ON public.device_groups USING btree ("organizationId");


--
-- Name: device_health_deviceId_reportedAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "device_health_deviceId_reportedAt_idx" ON public.device_health USING btree ("deviceId", "reportedAt" DESC);


--
-- Name: devices_androidId_key; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX "devices_androidId_key" ON public.devices USING btree ("androidId") WHERE ("androidId" IS NOT NULL);


--
-- Name: devices_lastSeen_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "devices_lastSeen_idx" ON public.devices USING btree ("lastSeen");


--
-- Name: devices_org_name_unique; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX devices_org_name_unique ON public.devices USING btree ("organizationId", lower(name));


--
-- Name: devices_organizationId_status_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "devices_organizationId_status_idx" ON public.devices USING btree ("organizationId", status);


--
-- Name: devices_pairingCode_key; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX "devices_pairingCode_key" ON public.devices USING btree ("pairingCode") WHERE ("pairingCode" IS NOT NULL);


--
-- Name: dl_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dl_orgId_idx" ON public.device_licenses USING btree ("organizationId");


--
-- Name: dse_deviceId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dse_deviceId_idx" ON public.device_status_events USING btree ("deviceId", "occurredAt" DESC);


--
-- Name: dse_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dse_orgId_idx" ON public.device_status_events USING btree ("organizationId", "occurredAt" DESC);


--
-- Name: dvl_deviceId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dvl_deviceId_idx" ON public.device_version_logs USING btree ("deviceId", "occurredAt" DESC);


--
-- Name: dvl_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "dvl_orgId_idx" ON public.device_version_logs USING btree ("organizationId", "occurredAt" DESC);


--
-- Name: lh_orgId_createdAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "lh_orgId_createdAt_idx" ON public.license_history USING btree ("organizationId", "createdAt" DESC);


--
-- Name: media_fileHash_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "media_fileHash_idx" ON public.media USING btree ("fileHash");


--
-- Name: media_org_title_unique; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX media_org_title_unique ON public.media USING btree ("organizationId", lower(title));


--
-- Name: media_organizationId_type_status_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "media_organizationId_type_status_idx" ON public.media USING btree ("organizationId", type, status);


--
-- Name: notif_org_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX notif_org_idx ON public.notifications USING btree ("organizationId", "createdAt" DESC);


--
-- Name: notif_unread_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX notif_unread_idx ON public.notifications USING btree ("organizationId") WHERE (read = false);


--
-- Name: org_backups_orgId_createdAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "org_backups_orgId_createdAt_idx" ON public.org_backups USING btree ("organizationId", "createdAt" DESC);


--
-- Name: organizations_slug_key; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX organizations_slug_key ON public.organizations USING btree (slug);


--
-- Name: pa_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "pa_orgId_idx" ON public.program_assignments USING btree ("organizationId");


--
-- Name: pa_programId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "pa_programId_idx" ON public.program_assignments USING btree ("programId");


--
-- Name: platform_admins_email_key; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX platform_admins_email_key ON public.platform_admins USING btree (email);


--
-- Name: playback_logs_deviceId_playedAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "playback_logs_deviceId_playedAt_idx" ON public.playback_logs USING btree ("deviceId", "playedAt" DESC);


--
-- Name: playback_logs_mediaId_playedAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "playback_logs_mediaId_playedAt_idx" ON public.playback_logs USING btree ("mediaId", "playedAt" DESC);


--
-- Name: playback_logs_playedAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "playback_logs_playedAt_idx" ON public.playback_logs USING btree ("playedAt" DESC);


--
-- Name: playlist_items_playlistId_position_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "playlist_items_playlistId_position_idx" ON public.playlist_items USING btree ("playlistId", "position");


--
-- Name: playlists_org_name_unique; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX playlists_org_name_unique ON public.playlists USING btree ("organizationId", lower(name)) WHERE ("isAutoGenerated" = false);


--
-- Name: playlists_organizationId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "playlists_organizationId_idx" ON public.playlists USING btree ("organizationId");


--
-- Name: ppl_deviceid_startedat_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX ppl_deviceid_startedat_idx ON public.playlist_play_logs USING btree ("deviceId", "startedAt" DESC);


--
-- Name: pr_orgId_createdAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "pr_orgId_createdAt_idx" ON public.purchase_requests USING btree ("organizationId", "createdAt" DESC);


--
-- Name: pr_status_createdAt_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "pr_status_createdAt_idx" ON public.purchase_requests USING btree (status, "createdAt" DESC);


--
-- Name: programs_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "programs_orgId_idx" ON public.programs USING btree ("organizationId");


--
-- Name: programs_org_name_unique; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX programs_org_name_unique ON public.programs USING btree ("organizationId", lower(name));


--
-- Name: ps_programId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "ps_programId_idx" ON public.program_schedules USING btree ("programId");


--
-- Name: sa_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "sa_orgId_idx" ON public.schedule_assignments USING btree ("organizationId");


--
-- Name: sa_scheduleId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "sa_scheduleId_idx" ON public.schedule_assignments USING btree ("scheduleId");


--
-- Name: sa_target_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX sa_target_idx ON public.schedule_assignments USING btree ("targetType", "targetId");


--
-- Name: schedules_org_name_unique; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX schedules_org_name_unique ON public.schedules USING btree ("organizationId", lower(name));


--
-- Name: schedules_organizationId_isActive_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "schedules_organizationId_isActive_idx" ON public.schedules USING btree ("organizationId", "isActive");


--
-- Name: schedules_startDate_endDate_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "schedules_startDate_endDate_idx" ON public.schedules USING btree ("startDate", "endDate");


--
-- Name: sg_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "sg_orgId_idx" ON public.sync_groups USING btree ("organizationId");


--
-- Name: sh_org_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX sh_org_idx ON public.storage_history USING btree ("organizationId", "createdAt" DESC);


--
-- Name: spr_org_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX spr_org_idx ON public.storage_purchase_requests USING btree ("organizationId", "createdAt" DESC);


--
-- Name: spr_status_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX spr_status_idx ON public.storage_purchase_requests USING btree (status, "createdAt" DESC);


--
-- Name: stores_orgId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "stores_orgId_idx" ON public.stores USING btree ("organizationId");


--
-- Name: stores_org_name_unique; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX stores_org_name_unique ON public.stores USING btree ("organizationId", lower(name));


--
-- Name: tr_orgid_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX tr_orgid_idx ON public.transfer_requests USING btree ("organizationId", "createdAt" DESC);


--
-- Name: tr_status_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX tr_status_idx ON public.transfer_requests USING btree (status, "createdAt" DESC);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_organizationId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "users_organizationId_idx" ON public.users USING btree ("organizationId");


--
-- Name: users_siteId_idx; Type: INDEX; Schema: public; Owner: signage_dev
--

CREATE INDEX "users_siteId_idx" ON public.users USING btree ("siteId");


--
-- Name: alarm_emails alarm_emails_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.alarm_emails
    ADD CONSTRAINT "alarm_emails_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: app_versions app_versions_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.app_versions
    ADD CONSTRAINT "app_versions_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: backup_plan_requests backup_plan_requests_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.backup_plan_requests
    ADD CONSTRAINT "backup_plan_requests_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: device_comments device_comments_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_comments
    ADD CONSTRAINT "device_comments_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_content_logs device_content_logs_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_content_logs
    ADD CONSTRAINT "device_content_logs_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_group_members device_group_members_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_group_members
    ADD CONSTRAINT "device_group_members_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_group_members device_group_members_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_group_members
    ADD CONSTRAINT "device_group_members_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public.device_groups(id) ON DELETE CASCADE;


--
-- Name: device_groups device_groups_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_groups
    ADD CONSTRAINT "device_groups_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: device_health device_health_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_health
    ADD CONSTRAINT "device_health_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_licenses device_licenses_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_licenses
    ADD CONSTRAINT "device_licenses_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_licenses device_licenses_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_licenses
    ADD CONSTRAINT "device_licenses_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: device_licenses device_licenses_transferredFromDeviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_licenses
    ADD CONSTRAINT "device_licenses_transferredFromDeviceId_fkey" FOREIGN KEY ("transferredFromDeviceId") REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: device_status_events device_status_events_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_status_events
    ADD CONSTRAINT "device_status_events_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: device_version_logs device_version_logs_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.device_version_logs
    ADD CONSTRAINT "device_version_logs_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: devices devices_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT "devices_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: devices devices_storeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT "devices_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES public.stores(id) ON DELETE SET NULL;


--
-- Name: devices devices_syncGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT "devices_syncGroupId_fkey" FOREIGN KEY ("syncGroupId") REFERENCES public.sync_groups(id) ON DELETE SET NULL;


--
-- Name: license_history license_history_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.license_history
    ADD CONSTRAINT "license_history_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: license_history license_history_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.license_history
    ADD CONSTRAINT "license_history_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: mail_settings mail_settings_mailConfigId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT "mail_settings_mailConfigId_fkey" FOREIGN KEY ("mailConfigId") REFERENCES public.mail_configs(id) ON DELETE SET NULL;


--
-- Name: mail_settings mail_settings_templateId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.mail_settings
    ADD CONSTRAINT "mail_settings_templateId_fkey" FOREIGN KEY ("templateId") REFERENCES public.mail_templates(id) ON DELETE SET NULL;


--
-- Name: media media_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT "media_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: media media_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT "media_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public.users(id);


--
-- Name: org_backups org_backups_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.org_backups
    ADD CONSTRAINT "org_backups_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: playback_logs playback_logs_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playback_logs
    ADD CONSTRAINT "playback_logs_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: playback_logs playback_logs_mediaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playback_logs
    ADD CONSTRAINT "playback_logs_mediaId_fkey" FOREIGN KEY ("mediaId") REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: playlist_items playlist_items_mediaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playlist_items
    ADD CONSTRAINT "playlist_items_mediaId_fkey" FOREIGN KEY ("mediaId") REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: playlist_items playlist_items_playlistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playlist_items
    ADD CONSTRAINT "playlist_items_playlistId_fkey" FOREIGN KEY ("playlistId") REFERENCES public.playlists(id) ON DELETE CASCADE;


--
-- Name: playlists playlists_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.playlists
    ADD CONSTRAINT "playlists_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: program_assignments program_assignments_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_assignments
    ADD CONSTRAINT "program_assignments_programId_fkey" FOREIGN KEY ("programId") REFERENCES public.programs(id) ON DELETE CASCADE;


--
-- Name: program_schedules program_schedules_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_schedules
    ADD CONSTRAINT "program_schedules_programId_fkey" FOREIGN KEY ("programId") REFERENCES public.programs(id) ON DELETE CASCADE;


--
-- Name: program_schedules program_schedules_scheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.program_schedules
    ADD CONSTRAINT "program_schedules_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES public.schedules(id) ON DELETE CASCADE;


--
-- Name: programs programs_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT "programs_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: purchase_requests purchase_requests_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.purchase_requests
    ADD CONSTRAINT "purchase_requests_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: schedule_assignments schedule_assignments_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedule_assignments
    ADD CONSTRAINT "schedule_assignments_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: schedule_assignments schedule_assignments_scheduleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedule_assignments
    ADD CONSTRAINT "schedule_assignments_scheduleId_fkey" FOREIGN KEY ("scheduleId") REFERENCES public.schedules(id) ON DELETE CASCADE;


--
-- Name: schedules schedules_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT "schedules_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: schedules schedules_playlistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT "schedules_playlistId_fkey" FOREIGN KEY ("playlistId") REFERENCES public.playlists(id);


--
-- Name: schedules schedules_targetGroupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT "schedules_targetGroupId_fkey" FOREIGN KEY ("targetGroupId") REFERENCES public.device_groups(id);


--
-- Name: storage_purchase_requests storage_purchase_requests_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.storage_purchase_requests
    ADD CONSTRAINT "storage_purchase_requests_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: stores stores_orgid_fk; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_orgid_fk FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: stores stores_playlistid_fk; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_playlistid_fk FOREIGN KEY ("playlistId") REFERENCES public.playlists(id) ON DELETE SET NULL;


--
-- Name: sync_groups sync_groups_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.sync_groups
    ADD CONSTRAINT "sync_groups_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: sync_groups sync_groups_playlistId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.sync_groups
    ADD CONSTRAINT "sync_groups_playlistId_fkey" FOREIGN KEY ("playlistId") REFERENCES public.playlists(id) ON DELETE SET NULL;


--
-- Name: transfer_requests transfer_requests_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.transfer_requests
    ADD CONSTRAINT "transfer_requests_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: users users_organizationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: users users_siteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: signage_dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_siteId_fkey" FOREIGN KEY ("siteId") REFERENCES public.stores(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict djVDL9TonyslUhOZs080ReNMXRh72C8DuyuA6FJDI8x8HUtN1Ik61HZqBS89Ahc

